<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> My first web, Welcome </title>
</head>
<body>

<h1> 수집시스템 포트폴리오 </h1>

<h2> 유하영 Y.HA YUNG </h2>

<p>첫 번째 문단은 <br>줄 <br> 바꿈<br> 단락입니다.</p>


<p><b>두 번째 문단은.</b>bold 선택여부 입니다.</p>

<p><strong>세번째 문장은 강조하여 표시합니다.</strong></p>

<p><i>4 번째 문장은 이테릭체입니다.</i></p>

<p><em>5번째 문장은 강조합니다.</em></p>


<p>6번째 문장은<mark>하이라이팅</mark> 됩니다 </p>

<p> 내가 좋아하는 과일을  <ins>망고</ins>와 파인애플 입니다.</p>

<p>X<sub>1</sub><sup>2</sup> + X<sub>2</sub><sup>3</sup> = Y</p>

<p>HTML는 <q>웹 페이지를 만들기 위한 하이퍼텍스트 마크업 언어</q>이다.</p> 

<div style="background-color:red; color:blue">
    <pre>
style 속성을 이용한 글자색 변경
      
    </pre>
</div>
 
<style>
    body { background-color: lightgreen; }
</style>

<div>
    <a href="https://www.naver.com/">네이버 (누르면 네이버로 연결) </a>
</div>
</body>
</html>
